<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Renting Sword Database | Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link  rel="stylesheet" href="/index-style.css">
    <link rel="icon" type="image/x-icon" href="/sword.icon.jpg">
</head>
<body>
<h1>Renting swords</h1><br><br>
<a href="/contracts" class="index-menu">List of contracts </a><br>
<a href="/persons" class="index-menu">List of people </a><br>
<a href="/swords" class="index-menu">List of swords </a>
</body>
</html>