.card-doc {
  min-width: 50%;
  max-width: 50%;
  max-height: 100%;
  padding: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
.card-discussion{
  position: sticky;
  top: 0px;
}
.card-discussion-wrapper{
  margin-top: 10px;
}
.full-width {
  width: 100%;
}

.spacer {
  width: 15px;
}
